body {
    background-color: black;
    background-image: url("imagen.ico");

}

#contenedor {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    width: 150px;
    float: left;
    margin-bottom: 5px;
}

input,
select {
    width: 150px;
    float: left;
    margin-bottom: 5px;
}

fieldset {
    background: orchid;
    width: 350px;
    border: thick solid #306;
}

legend {
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    background-color: #FFF;
}